<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>すうじアドベンチャー</string>
	<key>CFBundleName</key>
	<string>すうじアドベンチャー</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>数字を読む声を録音するためにマイクを使用します。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>数字を読んだ声を判定するために音声認識を使用します。</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2534039379765102~1174462351</string>
	<key>NSCameraUsageDescription</key>
	<string>ARシューティングゲームで現実世界に数字を表示するためにカメラを使用します。</string>
</dict>
</plist>
